<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:href="http://www.w3.org/1999/xhtml">
<head th:include="fragments/head :: styles">
    <!--<link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>-->
</head>
<body>
    <h1>Indkøbskurv</h1>
    <h2>Indhold i indkøbskurv</h2>

    <table>
        <thead>
            <tr>
                <th>Produktnavn:</th>
                <th>Pris pr. enhed</th>
                <th>Pris for alle enheder</th>
                <th>Antal enheder</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="cart : ${carts}">
                <span th:each="product : ${products}">
                    <span th:if="${cart.productId == product.productId}">
                        <td th:text="${product.name}">

                        </td>
                        <td th:text="${product.price} + ' kr.'"></td>
                        <td th:text="${product.price * cart.amount} + ' kr.'"></td>
                        <td>
                            <form action="/editCart" method="post">
                                <input type="hidden" th:value="${cart.productId}" name="productId">
                                <input type="number" th:value="${cart.amount}" name="amount">
                                <button type="submit">Opdater</button>
                            </form>
                            <form action="/deleteCart" method="post">
                                <input type="hidden" th:value="${cart.productId}" name="productId">
                                <button type="submit">Slet</button>
                            </form>
                        </td>
                    </span>
                </span>
            </tr>
        </tbody>
    </table>

    <h3>Total pris: <span th:text="${total}"></span> kr.</h3>
    <span th:if="${readyToCheckout}">
        <a href="/checkout">Gå til betaling</a>
    </span>
</body>
</html>