<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="fragments/head :: styles">
    <!--<link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>-->
</head>
<body>

<div class="container">
    <header th:include="fragments/header :: navbar"></header>

    <h1 th:text="${categoryName}"></h1>
    <span class="active" th:each="product : ${productList}">

        <form th:method="Put" th:action="@{/category}" th:object="${cart}">
            <span name="name" th:text="${product.name}"></span>
            <input type="hidden" name="productId" th:value="${product.productId}"/>
            <input type="number" th:name="amount" value="1"/>

            <button href="/listProducts" type="submit" value="Tilføj">Læg i kurv</button>

        </form>

        <a th:href="${'/viewProduct/' + product.productId}">Se produkt</a>

    </span>

    <br><hr><br>
    <div id="pageSelect" class="p-6">
        <a th:if="${currentPage-1 != 0}" th:href="'/category/'+${categoryId}+'/'+${currentPage-1}" class="btn btn-dark d-block float-left">Tilbage</a>

        <form th:method="post" th:action="'/category/'+${categoryId}+'/'" class="form-inline d-block mx-2 float-left">
            <select name="page" onchange='this.form.submit()'class="form-control mr-2">
                <option th:each="pageFromArray : ${pageArray}" th:value="${pageFromArray}" th:text="${pageFromArray}"  th:selected="${pageFromArray==currentPage}"></option>
            </select><span th:text="'ud af ' +${maxPages}"></span>
        </form>

        <a th:if="${currentPage < maxPages}" th:href="'/category/'+${categoryId}+'/'+${currentPage+1}" class="btn btn-dark d-block float-left">Næste</a>
    </div>

</div>

</body>
</html>