<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:href="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Gå til kassen: Step 1</title>
</head>
<body>
    <h1>Gå til kassen</h1>
    <h2>Udfyld dine informationer</h2>
    <form method="post" th:action="@{/checkout}" th:object="${checkout}">
        <label for="name">Navn:</label>
        <input type="text" id="name" th:name="name" required>

        <br><br>

        <label for="email">Email:</label>
        <input type="email" id="email" th:name="email" required>

        <br><br>

        <label for="phone">telefon nr.:</label>
        <input type="number" id="phone" th:name="phone" required>

        <br><br>

        <label for="street">Vej og nr.:</label>
        <input type="text" id="street" th:name="street" required>

        <br><br>

        <label for="city">By:</label>
        <input type="text" id="city" th:name="city" required>

        <br><br>

        <label for="zipcode">post nr.:</label>
        <input type="number" id="zipcode" th:name="zipcode" required>

        <br><br>

        <button type="button">Tilbage</button>
        <button type="submit">Næste</button>
    </form>
</body>
</html>