<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:href="http://www.w3.org/1999/xhtml">
<head th:include="fragments/head :: styles">
<body>
<div class="container">
    <header th:include="fragments/header :: adminNavbar"></header>

    <h1 th:text="${'Rediger Produktet (' + product.name + ')'}"></h1>

   <!-- <form th:method="put" th:action="@{/editProduct}" th:object="${products}">

        <input type="hidden" th:field="${products.productId}">

        <label>Produkt Navn:</label>
        <input type="text" class="form-control mr-sm-2"  th:field="${products.name}" required>

        <br>

        <label>Informationer om produktet:</label>

        <textarea rows ="3" cols = "60" th:name = "description" placeholder = "Skriv din produktbeskrivelse her" th:field="${products.description}" class="form-control mr-sm-2" required></textarea>
        <br>

        <label>Pris:</label>
        <input type="number" class="form-control mr-sm-2"  th:field="${products.price}" required/>
        <br>

        <label>denne felt kan du sætte et billede link for produktet:</label>
        <input type="text" class="form-control mr-sm-2"  th:field="${products.pictureLink}" required/>
        <br>

        <label>vælg 1 for aktive produkter og 0 for produkter der ikke skal vises for kunder</label>

            <select th:name = "productId" class="form-control">
                <option th:each="product : ${products}" th:value="${product.productId}" th:text="${products.active}"></option>
            </select>
        <br>

        <label>Lager:</label>
        <input type="number" class="form-control mr-sm-2"  th:field="${products.stock}" required/>
        <br>


        <input class="btn btn-light" type="button" value="Annuller" onclick="location.href='/listProducts';"/>

        <button class="btn btn-primary" type="submit">Gem</button>

    </form>

    <br>
-->

</div>
</body>
</html>