<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="fragments/head :: styles">
    <!--<link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>-->
</head>
<body>
    <form action="/creditcardAccept" method="Post">
        CardNumber:<br>
        <input type="number" name="cardnumber"><br>
        Expire dato:<br>
        <input type="number" name="month" min="1" max="99"> / <input type="number" name="year" min="1" max="99"><br>
        Sequritycode:<br>
        <input type="number" name="securitycode" min="1" max="999"><br>
        <button type="submit">OK</button>
    </form>

</body>
</html>